<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

  <th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
      <div class="w-50 my-4">
        <h1 class="mb-4">회원가입</h1>
        <form id= "signUpForm" method="post" action="/user/sign-up">
          <table class="table table-bordered">
            <tr>
              <th>* 아이디 (4자이상)</th>
              <td class="d-flex"><input name="userId" type="text" class="form-control col-9" placeholder="아이디를 입력하세요.">
                <button type="button" id="userIdCheck" class="btn btn-success">중복확인</button>

                <div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
                <div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
                <div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
              </td>
            </tr>
            <tr>
              <th>* 비밀번호</th>
              <td><input name="password" type="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
            </tr>
            <tr>
              <th>* 비밀번호 확인</th>
              <td><input name="passwordCheck" type="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
            </tr>
            <tr>
              <th>* 이름</th>
              <td><input name="name" type="text" class="form-control" placeholder="이름을 입력하세요."></td>
            </tr>
            <tr>
              <th>* 이메일</th>
              <td><input name="email" type="text" class="form-control" placeholder="이메일 주소를 입력하세요."></td>
            </tr>
          </table>
          <div class="w-100 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">회원가입</button>
          </div>
        </form>
      </div>
    </section>

    <script>
      $(function() {
        // 중복확인
        $("#userIdCheck").on("click", function() {
          // 문구 초기화
          $("#idCheckLength").addClass("d-none");
          $("#idCheckDuplicated").addClass("d-none");
          $("#idCheckOk").addClass("d-none");

          //alert("중복확인");

          let loginId = $("input[name=userId]").val().trim();
          console.log(loginId);

          if (loginId.length < 4) {
            $("#idCheckLength").removeClass("d-none");
            return;
          }

          $.ajax({
            // request
            // type 생략 시 get 요청
            url:"/user/is-duplicate-id"
            , data:{"loginId":loginId}

            // response
            , success:function(data) {
              if (data.code == 200) {
                if (data.is_duplicate_id) { // 중복
                  $("#idCheckDuplicated").removeClass("d-none");
                } else { // 사용 가능
                  $("#idCheckOk").removeClass("d-none");
                }
              } else {
                alert(data.error_message);
              }
            }
            , error:function(e) {
              alert("중복확인에 실패했습니다.");
            }
          });
        });

        // 회원가입
        $("#signUpForm").on("submit", function(e){

          e.preventDefault();

          let loginId  = $("input[name=userId]").val().trim();
          let password  = $("input[name=password]").val().trim();
          let passwordCheck = $("input[name=passwordCheck]").val().trim();
          let name = $("input[name=name]").val().trim();
          let email = $("input[name=email]").val().trim();

          if(!loginId){
            alert("아이디를 입력하세요.");
            return false;
          }

          if(!password || !passwordCheck){
            alert("아이디를 입력하세요.");
            return false;
          }

          if(!name){
            alert("이름을 입력하세요.");
            return false;
          }

          if(!email){
            alert("이메일을 입력하세요.");
            return false;
          }

          let url = $(this).attr("action");
          console.log(url);

          let params = $(this).serialize(); // form 태그의 name속성을 request 파라미터로 구성

          // $(this)[0].submit();
          alert("회원가입");

          $.post(url, params)
          .done(function(data){
            if(data.code == 200){
              alert("가입을 환영합니다. 로그인을 해주세요.");
              location.href = "/user/sign-in-view";
            } else{
              alert(data.error_message);
            }
          });
        });
      });
    </script>
  </th:block>
</html>