<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="w-25 my-5">
            <h1 class="mb-5">로그인</h1>
            <form method="post" action="">
                <input name="id" type="text" class="form-control mb-2" placeholder="아이디를 입력하세요">
                <input name="password" type="password" class="form-control mb-4" placeholder="비밀번호를 입력하세요">
                <button type="submit" class="btn btn-success form-control mb-2"> 로그인</button>
            </form>
            <a class="btn btn-primary form-control" href="/user/sign-up-view">회원가입</a>
        </div>
    </section>
</th:block>