<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="w-25 my-5">
            <h1 class="mb-5">로그인</h1>
            <form method="post" action="/user/sign-in" id="signInForm">
                <input name="id" type="text" class="form-control mb-2" placeholder="아이디를 입력하세요">
                <input name="password" type="password" class="form-control mb-4" placeholder="비밀번호를 입력하세요">
                <button type="submit" class="btn btn-success form-control mb-2"> 로그인</button>
            </form>
            <a class="btn btn-primary form-control" href="/user/sign-up-view">회원가입</a>
        </div>

        <script>
            $(function(){
                $("#signInForm").on("submit", function(e){
                    e.preventDefault();
                    let loginId = $("input[name=id]").val().trim();
                    let password = $("input[name=password]").val().trim();

                    let params = $(this).serialize();
                    let url = $(this).attr("action");

                    $.post(url, params)
                    .done(function(data){
                        if (data.result == "성공"){
                            // 로그인 성공 시 글 목록 화면으로 이동
                            location.href = "/post/post-list-view";
                        } else{
                            alert(data.error_message);
                        }
                    });

                });
            });
        </script>
    </section>
</th:block>